{% set episodename = episode.title %}
<table style="border-width: 0px;">
    <tbody style="border-width: 0px;">
        {% for contributor in episode.contributors %}
        <tr>
            {% if contributor.role == "guest" %}
                <td style="border-width: 0px; vertical-align:top; text-align: left;">
                    Weitere Episoden mit {{ contributor.name }}:
                    <ul>
                    {% for episode in contributor.episodes ({limit: 4}) %}
                    {% if episode.title != episodename %}
                        <li>
                        <a href="{{ episode.url }}">{{ episode.title }}</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                    </td>
            {% endif %}
            </tr>
            <tr>
            {% if contributor.role == "special guest" %}
                <td style="border-width: 0px; vertical-align:top; text-align: left;">
                    Weitere Episoden mit {{ contributor.name }}:
                    <ul>
                    {% for episode in contributor.episodes ({limit: 4}) %}
                    {% if episode.title != episodename %}
                        <li>
                        <a href="{{ episode.url }}">{{ episode.title }}</a>
                        </li>
                    {% endif %}    
                    {% endfor %}
                    </ul>
                    </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
